{% extends 'base.html.twig' %}

{% block title 'Accueil Collectif Taliensin' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>L’association est menée par une direction collégiale composée de cinq membres.
                Nous travaillons à l’heure actuelle sur un projet principal, un univers de jeu de rôle collaboratif
                au nom de code “Projet Odyssey”, et avons pour ambition de nous en servir pour développer des outils de design narratif
                et technique qui nous serviront pour les projets subséquents.</p>
        </div>
    </div>
</div>
{% endblock %}