{% extends 'base.html.twig' %}

{% block title %}Collectif Taliesin{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid elegant-color-dark p-0 mt-4">
            <div class="container text-center">
                    <h1>Le Collectif Taliesin</h1>
                    <p class="lead">
                        Le Collectif Taliesin est une association loi 1901 visant à créer des expériences narratives et ludiques et à les mettre en scène dans le cadre événementiel et/ou dématérialisé.
                        Fondé en 2019 et composé uniquement de membres bénévoles, le Collectif Taliesin est un collectif d’auteurs et de créateurs unis dans un même but:
                        créer des jeux hors du commun dans un but non lucratif, afin de repousser toujours plus loin les limites du genre.
                    </p>

                <img src="{{ asset('media/Logohome(1).jpg') }}">
                    <p class="lead">
                        L’association est menée par une direction collégiale composée de cinq membres.
                        Nous travaillons à l’heure actuelle sur un projet principal, un univers de jeu de rôle collaboratif au nom de code “Projet Odyssey”,
                        et avons pour ambition de nous en servir pour développer des outils de design narratif et technique qui nous serviront pour les projets subséquents.
                    </p>
            </div>
    </div>
{% endblock %}

