{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>A propos du Collectif</h1>
<section>
<div><p>Le Collectif Taliesin est une association loi 1901 visant à créer des expériences narratives et ludiques et à les mettre en scène dans le cadre événementiel et/ou dématérialisé.

Fondé en 2019 et composé uniquement de membres bénévoles, le Collectif Taliesin est un collectif d’auteurs et de créateurs unis dans un même but: créer des jeux hors du commun dans un but non lucratif, afin de repousser toujours plus loin les limites du genre.</p>

​

​

​<div> Logo </div><br/>

​

​

​

​

 

<p>L’association est menée par une direction collégiale composée de cinq membres.

Nous travaillons à l’heure actuelle sur un projet principal, un univers de jeu de rôle collaboratif au nom de code “Projet Odyssey”, et avons pour ambition de nous en servir pour développer des outils de design narratif et technique qui nous serviront pour les projets subséquents.</p>
</div>
</section>
​
<h2> Les membres sont : </h2>
<section class='bg-success row'>
	<div class="col-4">
		ROMAIN - Lead Narrative Designer
Romain est issu d’une formation académique en littérature et en sciences du jeu, contexte dans lequel il a - entre autres - travaillé sur le jeu de rôle et sur la littérature fantastique. Grand joueur (en termes quantitatifs plutôt que qualitatifs) de jeux vidéos, de jeux de société et de jeux de rôle, il passe la plupart de son temps libre à travailler sur des projets de jeux où il explore les manières de créer un investissement émotionnel chez les joueurs. Son expérience en tant que MJ couvre dix années et de nombreux jeux/univers différents, le plus souvent en créant ses propres scénarios et contenus. Il est le principal instigateur du Projet Odyssey, né d’un désir mégalomaniaque (si si) de réunir autour d’une même table (dématérialisée qui plus est) des dizaines de joueurs et MJ différents, en les faisant cohabiter dans la même temporalité et interagir les uns avec les autres.
	</div><br/>
	<div class="col-4">
		MICHAËL - Lead Designer
En tant que joueur de manière général et role player plus particulièrement, Michael a surtout fait ses armes et est toujours actif sur World of Warcraft, participant à plusieurs projets de jeu de rôle à différents niveaux et dans différentes situations ( gestion de guilde et investissement au niveau communautaire, création de trames et animation d’événements, etc ). Ancien étudiant en philosophie, grand amateur de littérature et d’Histoire, il apprécie particulièrement le jeu de rôle pour son aspect à la fois narratif et participatif, en tant que récit collaboratif dans lequel chacun mêle sa voix à celle des autres pour former une histoire globale. Séduit par les ambitions affichées du Projet Odyssey et leur développement qui a donné le Collectif Taliesin, il s’intéresse et s’occupe principalement de la création des univers de jeu, des mondes qui accueilleront joueurs et MJ, sur lesquels pourront se tisser trames et récits et dans lesquels chacun jouera.
	</div><br/>
	<div>
		CYPRIEN - Lead Designer
Provenant de la même branche génétique divergente de l’espèce couramment appelée Homo Sapiens que Romain, il est en conséquence fréquent que Cyprien lui serve (parfois) de complice et (souvent) de cobaye. Adepte avide des pratiques ludiques et narratives, fervent amateur de jeux de rôles et de stratégie, c’est armé de ses quelques années d’expérience dans l’organisation et la direction de parties de jeu de rôle (qui curieusement, sont plus nombreuses que ses années d’expérience en tant que joueur) qu’il s’est laissé prendre au piège lancé dans l’aventure pour voir un peu ce que ça peut donner.

Il s’occupe principalement du recensement et de la coordination des trames et intrigues qui seront proposées aux joueurs, et se permettra toujours de glisser (subtilement) une chance infime mais bien réelle pour ceux-ci de reprendre Jérusalem.
	</div><br/>
	<div class="col-4">
		CORENTIN
Corentin, joueur passionné de jeux et plus particulièrement de jeux de rôle depuis bientôt une vingtaine d'années et ce quel qu'en soit le support, a rejoint le collectif Taliesin afin de pouvoir participer a la création de l'un d'entre eux. Il s'occupe principalement d'aider a la création de la trame principale quand son travail lui laisse un peu de temps tout en essayant empêcher Romain de faire sombrer le monde dans le chaos pendant son absence.
	</div><br/>
	<div>
		ROMAIN
Romain, étudiant en école d'ingénieur, participe à des jeux de rôle depuis maintenant 5 ans. Il a d'abord joué à Donjons et Dragons avant d'expérimenter quelques systèmes faits maison et de commencer une campagne de l'anneau unique. Il a voulu rejoindre plus récemment l'équipe organisatrice pour mettre à profit le temps libre que la vie étudiante lui procure. Il s'est occupé notamment de l'activité sur les réseaux sociaux, et à participé au lancement du pôle règles.
	</div><br/>
</section>

        
   

{% endblock %}
